.toggle-switch {
  --light: #e6dcd9;
  --dark: #262221;
}
.switch-label {
  background-color: var(--dark);
  border: 3px solid var(--dark);
}
.checkbox:checked ~ .slider {
  background-color: var(--light);
}
.checkbox:checked ~ .slider::before {
  transform: translateX(37px);
  background-color: var(--dark);
  box-shadow: none;
}
