@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: kingred;
  src: url(/Fonts/kingred.otf);
}
@font-face {
  font-family: kajiro;
  src: url(/Fonts/Kajiro.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
